In [ ]:
"""
Data cleaning means fixing bad data in your data set.

Bad data could be:
    - Empty cells - give you a wrong result when you analyze data.
        - remove row contain empty cells (dataset usually very large, so removing some rows will not a big deal)
        - Replace Empty Values - not have to delete entire rows just because of some empty cells
        - Replace Using Mean, Median, or Mode (the value that appears most frequently.)
    - Data in wrong format
        - remove the rows
        - convert to the same format
    - Wrong data
        - Replacing Values
    - Duplicates
"""

In [ ]:
"""
Other type:
    - Unnecesary
"""

In [2]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("resource\simple_student_detail_wrong.csv")
df

,id,full_name,sex,math,physics,biology,chemistry,english,art,music,overall,Note
0,Nestech_001,Nguyen Phu Trong,M,8.0,4.0,4.0,7.0,6.0,4.0,4.0,5.285714,Lop Truong
1,Nestech_002,Vo Van Thuong,M,3.0,NaN,8.0,NaN,5.0,4.0,6.0,3.714286,Pho Lop Truong
2,Nestech_003,Nguyen Hoang Kieu Trinh,F,6.0,2.0,65.0,8.0,3.0,NaN,1.0,12.142857,NaN
3,Nestech_004,Viktor Nguyen,M,NaN,8.0,9.0,NaN,7.0,7.0,6.0,5.285714,NaN
4,Nestech_005,Clint Nguyen,M,8.0,9.0,7.0,3.0,2.0,8.0,8.0,6.428571,NaN
5,Nestech_006,Nguyen Van Toan,M,9.0,5.0,NaN,5.0,7.0,2.0,NaN,4.000000,NaN
6,Nestech_007,Kha Kim Bao Han,F,10.0,79.0,5.0,9.0,8.0,4.0,5.0,17.142857,Ex
7,Nestech_008,Pham Le Tram Anh,F,5.0,5.0,1.0,5.0,44.0,6.0,8.0,10.571429,Ex
8,Nestech_009,Ba Hoang Kim Thinh,F,4.0,7.0,NaN,7.0,NaN,6.0,2.0,3.714286,Ex
9,Nestech_010,Giap Phi Hoang,M,6.0,6.0,8.0,2.0,8.0,7.0,45.0,11.714286,Y Thuc Kem

In [11]:
# df.shape
# df.info()
# df.describe()
# df[["math", "physics", "biology", "chemistry", "english", "art", "music"]].astype("int64")
df[["math", "physics", "biology", "chemistry", "english", "art", "music"]]

   math  physics  biology  chemistry  english  art  music
0   8.0      4.0      4.0        7.0      6.0  4.0    4.0
1   3.0      NaN      8.0        NaN      5.0  4.0    6.0
2   6.0      2.0     65.0        8.0      3.0  NaN    1.0
3   NaN      8.0      9.0        NaN      7.0  7.0    6.0
4   8.0      9.0      7.0        3.0      2.0  8.0    8.0
5   9.0      5.0      NaN        5.0      7.0  2.0    NaN
6  10.0     79.0      5.0        9.0      8.0  4.0    5.0
7   5.0      5.0      1.0        5.0     44.0  6.0    8.0
8   4.0      7.0      NaN        7.0      NaN  6.0    2.0
9   6.0      6.0      8.0        2.0      8.0  7.0   45.0

In [17]:
# remove_na_df = df.dropna() # remove row
# remove_na_df = df.fillna(5) # replace empty value
remove_na_df = df[["math", "physics"]].fillna(5) # replace empty value
remove_na_df

   math  physics
0   8.0      4.0
1   3.0      5.0
2   6.0      2.0
3   5.0      8.0
4   8.0      9.0
5   9.0      5.0
6  10.0     79.0
7   5.0      5.0
8   4.0      7.0
9   6.0      6.0

In [23]:
# df["math"] = df["math"].astype(str)
# df["math"] = pd.to_datetime()
# df.dropna(subset=["math"])
df

,id,full_name,sex,math,physics,biology,chemistry,english,art,music,overall,Note
0,Nestech_001,Nguyen Phu Trong,M,8.0,4.0,4.0,7.0,6.0,4.0,4.0,5.285714,Lop Truong
1,Nestech_002,Vo Van Thuong,M,3.0,NaN,8.0,NaN,5.0,4.0,6.0,3.714286,Pho Lop Truong
2,Nestech_003,Nguyen Hoang Kieu Trinh,F,6.0,2.0,65.0,8.0,3.0,NaN,1.0,12.142857,NaN
3,Nestech_004,Viktor Nguyen,M,NaN,8.0,9.0,NaN,7.0,7.0,6.0,5.285714,NaN
4,Nestech_005,Clint Nguyen,M,8.0,9.0,7.0,3.0,2.0,8.0,8.0,6.428571,NaN
5,Nestech_006,Nguyen Van Toan,M,9.0,5.0,NaN,5.0,7.0,2.0,NaN,4.000000,NaN
6,Nestech_007,Kha Kim Bao Han,F,10.0,79.0,5.0,9.0,8.0,4.0,5.0,17.142857,Ex
7,Nestech_008,Pham Le Tram Anh,F,5.0,5.0,1.0,5.0,44.0,6.0,8.0,10.571429,Ex
8,Nestech_009,Ba Hoang Kim Thinh,F,4.0,7.0,NaN,7.0,NaN,6.0,2.0,3.714286,Ex
9,Nestech_010,Giap Phi Hoang,M,6.0,6.0,8.0,2.0,8.0,7.0,45.0,11.714286,Y Thuc Kem

In [24]:
df.loc[6, 'physics'] = 7.9
df

,id,full_name,sex,math,physics,biology,chemistry,english,art,music,overall,Note
0,Nestech_001,Nguyen Phu Trong,M,8.0,4.0,4.0,7.0,6.0,4.0,4.0,5.285714,Lop Truong
1,Nestech_002,Vo Van Thuong,M,3.0,NaN,8.0,NaN,5.0,4.0,6.0,3.714286,Pho Lop Truong
2,Nestech_003,Nguyen Hoang Kieu Trinh,F,6.0,2.0,65.0,8.0,3.0,NaN,1.0,12.142857,NaN
3,Nestech_004,Viktor Nguyen,M,NaN,8.0,9.0,NaN,7.0,7.0,6.0,5.285714,NaN
4,Nestech_005,Clint Nguyen,M,8.0,9.0,7.0,3.0,2.0,8.0,8.0,6.428571,NaN
5,Nestech_006,Nguyen Van Toan,M,9.0,5.0,NaN,5.0,7.0,2.0,NaN,4.000000,NaN
6,Nestech_007,Kha Kim Bao Han,F,10.0,7.9,5.0,9.0,8.0,4.0,5.0,17.142857,Ex
7,Nestech_008,Pham Le Tram Anh,F,5.0,5.0,1.0,5.0,44.0,6.0,8.0,10.571429,Ex
8,Nestech_009,Ba Hoang Kim Thinh,F,4.0,7.0,NaN,7.0,NaN,6.0,2.0,3.714286,Ex
9,Nestech_010,Giap Phi Hoang,M,6.0,6.0,8.0,2.0,8.0,7.0,45.0,11.714286,Y Thuc Kem

In [25]:
for x in df.index:
    if df.loc[x, "math"] > 10:
        df.loc[x, "math"] = 18

In [ ]:
for x in df.index:
    if df.loc[x, "math"] > 10:
        df.drop(x, inplace = True)

In [26]:
df.duplicated()
df.drop_duplicates()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool